.inputlabel {
  display: flex;
  flex-direction: column;
  gap: 1rem 0px;
  font-family: var(--font-primary);
  font-size: 3rem;
}

.inputcontrol {
  font-family: var(--font-primary);
  font-size: 3rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--color-background);
  border: 0px;
}

.inputerror {
  font-size: 2rem;
  color: var(--color-red);
}
